# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\rafae.DESKTOP-RS4NIMH\CLionProjects\trabalho-org-e-rec-dados\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
